name: Checkstyle
on: push

jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle job

    # GitHub token permissions
    permissions:
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.1
    - name: Run check style
      uses: dbelyaev/action-checkstyle@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
