name: Checkstyle
on: push

jobs:
  checkstyle_job:
    runs-on: ubuntu-latest
    name: Checkstyle job
    steps:
    - name: Checkout
      uses: actions/checkout@v6.0.0
    - name: Run check style
      uses: dbelyaev/action-checkstyle@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
